/*

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

*/
body {
    font-family: 'Tajawal';
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}


/* Header Style */
header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 80px;
    background-color: #232323;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

    header .navbar {
        padding: 17px 0px;
        transition: all 0.5s ease-in-out;
    }

.background-header .navbar {
    padding: 17px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    background-color: #fff !important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}


.navbar-brand:hover {
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e !important;
}


    .background-header .navbar-nav a.nav-link path {
        color: #f33f3f !important;
    }

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active > .nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show > .nav-link {
    color: #f33f3f !important;
}

.navbar .navbar-brand {
    padding: 0 20px;
}


#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 5px;
}
/*dropdown-content*/
.dropdown {
    position: relative;
    display: inline-block;
}

.navbar .navbar-nav a.nav-link,
.dropbtn, .dropdown-content a {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Tajawal';
}

.dropdown-content a {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(1,43,68,1);
    min-width: 200px;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

    .dropdown:hover .dropdown-content a:hover {
        border-bottom: none;
        color: #05dee3;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link {
    color: white;
    border-bottom: 3px solid #05dee3;
}


.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: #10e4e1;
    background-color: #012b44;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #10e4e1;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}
/*footer*/

footer p {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Tajawal';
    color: white;
}


@media (max-width: 768px) {
    .navbar .navbar-brand img {
        position: absolute;
        left: 50px;
        top: 6px;
    }

    header .navbar {
        height: 80px;
    }

    .navbar .navbar-brand {
        width: auto;
    }

    .navbar:after {
        display: none;
    }

    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }

    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #24526a;
    }

        .navbar .navbar-nav .nav-item:last-child {
            border-bottom: none;
        }

    .navbar .navbar-nav a.nav-link {
        padding: 10px 0px;
        color: #fff !important;
    }

        .navbar .navbar-nav a.nav-link:hover {
            color: #10e4e1 !important;
        }

    .navbar-nav {
        background-color: #012b44;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active > .nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show > .nav-link {
        color: #10e4e1 !important;
        border-bottom: none !important;
        padding-bottom: 15px;
    }

    /*.ml-auto, .mx-auto {
        background-color: #012b44 !important;
    }*/
}
/*carousel*/

.carousel .carousel-indicators li {
    border: 0;
    background: #10e5e6;
    text-indent: -9999px;
    overflow: hidden;
    width: 8px;
    height: 8px;
    font-size: 0;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.carousel-indicators li {
    opacity: 0.8;
}

.carousel .carousel-indicators li.active {
    width: 60px;
    background: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url('../image/1x/Asset 7.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../image/1x/Asset 6.png') !important;
}

/* custom container */
.features .img-holder img {
    cursor: pointer;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999999;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

    .trailer.active {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .trailer video {
        position: relative;
        max-width: 900px;
        outline: none;
    }

.closebtn {
    position: absolute;
    top: 14%;
    right: 14%;
    cursor: pointer;
}

@media (max-width: 991px) {
    .trailer video {
        max-width: 90%;
    }
}

.container-ex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rtl-row > div[class^="col-"] {
    float: right;
}

.row.custom-padding {
    margin-left: -35px;
    margin-right: -35px;
}

    .row.custom-padding > div[class^="col-"] {
        padding-left: 35px;
        padding-right: 35px;
    }

@media (max-width: 1200px) {
    .row.custom-padding {
        margin-left: -15px;
        margin-right: -15px;
    }

        .row.custom-padding > div[class^="col-"] {
            padding-left: 15px;
            padding-right: 15px;
        }
}

@media (min-width: 480px) {
    .container-ex {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .playbtn {
        top: 50%;
    }

    .container-ex {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-ex {
        max-width: 960px;
    }

    .row.same-height {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

        .row.same-height.rtl-row {
            flex-direction: row-reverse;
        }
}

@media (min-width: 1200px) {
    .container-ex {
        max-width: 1330px;
    }
}

/* ----------------------------------
    4 - Features Section Styles
-----------------------------------*/
.features {
    background-image: linear-gradient( 50deg, hsl(202deg 97% 14%) 0%, hsl(199deg 100% 17%) 0%, hsl(197deg 100% 20%) 1%, hsl(194deg 100% 24%) 6%, hsl(192deg 100% 27%) 14%, hsl(190deg 100% 30%) 33%, hsl(188deg 100% 33%) 62%, hsl(185deg 100% 36%) 82%, hsl(183deg 100% 38%) 93%, hsl(180deg 88% 43%) 100% );
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    border-radius: 45px;
}

    .features .def-aligned {
        text-align: right;
    }

    .features .feature-info {
        display: inline-block;
        padding: 60px 0;
        width: 100%;
        max-width: 470px;
        text-align: left;
    }

        .features .feature-info .feature-title {
            font-size: 33px;
            font-weight: 700;
            color: aqua;
            margin-bottom: 20px;
        }

        .features .feature-info .feature-text {
            font-size: 18px;
            font-weight: 300;
            color: white;
            margin-bottom: 25px;
            width: 100%;
        }

    .features .img-holder {
        text-align: center;
        padding: 140px 0;
    }

        .features .img-holder img {
            max-width: 346px;
            border-radius: 10px;
        }

/*------------------------------------------------------------------
    19 - Responsive Styles
-------------------------------------------------------------------*/
@media (max-width: 1200px) {


    .features .feature-info .feature-title {
        font-size: 30px;
        margin-bottom: 13px;
    }
}

@media (max-width: 992px) {
    .same-height.rtl-row div[class^="col-"] {
        float: inherit;
    }



    .features .feature-info {
        padding: 50px 0;
    }

        .features .feature-info .feature-title {
            font-size: 27px;
            margin-bottom: 8px;
        }

    .features .img-holder {
        padding: 68px 0;
    }

    .features .def-aligned {
        text-align: left;
    }
}

@media (max-width: 768px) {

    .features .img-holder {
        padding: 40px 0;
    }

        .features .img-holder img {
            max-width: 300px;
            padding: 0 30px 0 0;
        }

    .features .feature-info {
        max-width: 100%;
    }

    .closebtn {
        position: absolute;
        top: 27%;
        right: -4%;
    }

    .features .feature-info .feature-text {
        color: #004D6C;
    }
}


@media (max-width: 480px) {

    .features {
        padding-bottom: 40px;
        margin-top: -127px;
        background: none;
    }

        .features .img-holder {
            padding: 40px 0 0 40px;
        }

        .features .feature-info {
            padding: 10px 0 60px;
        }

            .features .feature-info .feature-title {
                font-size: 25px;
            }

        .features > .container > .row:last-child .feature-info {
            padding-bottom: 20px;
        }

    .col-sm-5 {
        padding-right: 0;
    }
}

/*footer*/
section h6 {
    font-size: 20px;
    font-weight: 500;
    color: aqua !important;
   border-bottom:1px solid #fff;
   padding-bottom:10px;

}

section p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 100%;
}
.col-md-4 .home {
    color: rgb(1,43,68);
}



.btn-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background: #012b44;
    border: none;
    border-radius:13px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

    .btn-up:hover {
        background-color: #013954;
        transform: scale(1.1);
        bottom: 43px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

svg:not(:root).svg-inline--fa {
    color: white;
    border: none;
}



/*------------------------------------------------------------------
	6 - Latest News Section Styles
-------------------------------------------------------------------*/
.latest-news {
    margin-top:20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eaf2fe;
    border-radius:20px;
}

    .latest-news .row-title {
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        color: #4d5666;
        margin-bottom: 30px;
    }

    .latest-news .main-btn-holder {
        text-align: right;
        margin-bottom: 30px;
    }

    .latest-news .post-box {
        position: relative;
        border-radius: 15px;
        padding: 115px 35px 40px 35px;
        margin: 20px 0;
        z-index: 1;
    }

        .latest-news .post-box.blue-bg {
            background-color: #4789fc;
        }

            .latest-news .post-box.blue-bg .post-img {
              
                background-image:url('../image/Robotics.jpg');
            }

        .latest-news .post-box.grey-bg {
            background-color: #333c4e;
        }

            .latest-news .post-box.grey-bg .post-img {
                background-image: url('../image/STEM.jpg');
            }

        .latest-news .post-box.yellow-bg {
            background-color: #ffc600;
        }

            .latest-news .post-box.yellow-bg .post-img {
                background-image: url('../image/InteractiveWhiteboard.jpg');
            }

        .latest-news .post-box .post-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            z-index: -1;
            background-size: 100%;
            background-position: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .latest-news .post-box .badge {
            margin-bottom: 8px;
        }

        .latest-news .post-box .post-title {
            font-size: 19px;
            font-weight: bold;
            line-height: 23px;
            color: #004D6C;
            max-width: 70%;
            margin-bottom: 15px;
        }

        .latest-news .post-box .post-link a {
            font-size: 10.5px;
            font-weight: 600;
            padding: 10px 14px;
            color: #eceff1;
            background-color: #17a2b8;
            border-radius: 5px;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        
        }

            .latest-news .post-box .post-link a:hover, .latest-news .post-box .post-link a.focus {
                color: #eceff1;
            }

        .latest-news .post-box:hover .post-img {
            background-size: 105%;
            -webkit-filter: opacity(80%);
            -moz-filter: opacity(80%);
            -ms-filter: opacity(80%);
            filter: opacity(80%);
        }


