/*

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}


/* navbar Style */


.navbar {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    padding: 0;
    background: #00162B;
    position: fixed !important;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    /*max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;*/
}

#navbar__logo img {
    /*background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;*/
    width: 277px;
    height: 136px;
    margin-bottom: 11% !important;
    margin-top: -18%;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 7%;
    right: 6%;
}

/*.navbar__item {
    height: 80px;
}*/

.navbar__links {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.6rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

    .navbar__links:hover {
        color: #10B6CB !important;
        opacity: 0.7;
        transform: scale(0.9);
    }

    .navbar__links.active {
        color: #10B6CB !important;
    }

.learnimg {
    width: 21rem;
    height: 11rem;
    position: absolute;
    top: 0;
    left: 0;
}

/*.navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
    }*/

/*.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

    .button:hover {
        background: #4837ff;
        transition: all 0.3s ease;
    }
*/
/*.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}*/

@media screen and (max-width: 1000px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar {
        height: 6rem;
    }

    .learnimg {
        display: none;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

        .navbar__menu.active {
            background: #012b44;
            top: 100%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 23rem;
            border-bottom-right-radius: 1rem;
        }

    #navbar__logo {
        padding-left: 25px;
    }

        #navbar__logo img {
            width: 12rem;
            height: 7rem;
            margin-top: -9%;
        }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #0ff;
    }

    .navbar__item {
        width: 100%;
        border-bottom: 0.001rem solid #10b6cb75;
        padding: 1.5rem;
    }

        .navbar__item:last-child {
            border: none;
        }

    .navbar__link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        margin: 17px;
        padding: 2px 8px;
        border: 1px solid white;
        border-radius: 5px;
        height: 36px;
        outline: none;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}




/*\

 .navbar {
        padding: 17px 0px;
        transition: all 0.5s ease-in-out;
        position:fixed !important;
    }


.navbar-brand:hover {
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show > .nav-link {
    color: #10B6CB !important;
}

.navbar-brand img {
    width: 300px;
    height: 153px;
    margin-bottom: 11% !important;
    margin-top: -21px;
}



.learnimg {
    width: 393px;
    height: 186px;
    position: absolute;
    top: 0;
    left: 0;
}


#navbarResponsive {
    z-index: 999;
}

 .navbar > .container-fluid{
     align-items:normal !important;
 }

.navbar-collapse {
    text-align: center;
    position: absolute;
    bottom: 7%;
    right: 5%;

}

.navbar .navbar-nav .nav-item {
    margin: 0px 5px;
}


.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin: 5px 0 0 20px;
    padding: 10px;
}

.navbar .navbar-toggler-icon {
    background-image: none;
  
}

.navbar .navbar-toggler {
    border-color: white;
    background-color: #012b44;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    left: 3%;
    top: 26%;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}

*/
/*footer*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.footer {
    background-color: #00162B;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    text-align:right;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    /*  .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }*/

    .footer-col ul li {
        margin-bottom: 10px;
    }

        .footer-col ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

            .footer-col ul li a:hover {
                color: #ffffff;
                padding-left: 8px;
            }

.cont-fot {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.footer-col .social-links {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 64%;
    bottom: 29%;
    flex-direction: column;
    transform: skewX(370deg)
}


    .footer-col .social-links a {
        display: inline-block;
        width: 40px;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        transform: skewX(354deg)
    }

        .footer-col .social-links a:hover {
            color: #0fa7bb;
            background-color: #ffffff;
        }

.about {
    margin-top: 10%;
    margin-right: 2%;
    float:right;
    padding:0;
}

    .about span{
        padding-right:11%;
        color:white;
        font-size:20px;
        font-weight:bold;

    }


/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/*footer p {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Tajawal';
    color: white;
}
*/
/*@media screen and (max-width: 480px) {
    .navbar .navbar-brand img {
        position: absolute;
        right: 0%;
        top: 28%;
        width: 115px;
        height: 61px;
    }

    nav {
        height: 11%
    }

    header .navbar {
        height: 80px;
    }

    .learnimg {
        display: none;
    }

    .navbar .navbar-brand {
        width: auto;
    }

    .navbar:after {
        display: none;
    }

    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }

    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #24526a;
    }

        .navbar .navbar-nav .nav-item:last-child {
            border-bottom: none;
        }

    .navbar .navbar-nav a.nav-link {
        padding: 10px 0px;
        color: #fff !important;
    }

        .navbar .navbar-nav a.nav-link:hover {
            color: #10e4e1 !important;
        }

    .navbar-nav {
        background-color: #012B44;
        padding: 0px;
        margin-right: 28%;
        border-bottom-right-radius: 20px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active > .nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show > .nav-link {
        color: #10e4e1 !important;
        border-bottom: none !important;
    }
}

@media (max-width: 768px) {*/
/*.navbar .navbar-brand img {
            position: absolute;
            right: 0%;
            top: 28%;
            width: 115px;
            height: 61px;
        }

        nav {
            height: 11%
        }

        header .navbar {
            height: 80px;
        }

        .learnimg {
            display: none;
        }

        .navbar .navbar-brand {
            width: auto;
        }

        .navbar:after {
            display: none;
        }

        #navbarResponsive {
            z-index: 99999;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            text-align: center;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        }

        .navbar .navbar-nav .nav-item {
            border-bottom: 1px solid #24526a;
        }

            .navbar .navbar-nav .nav-item:last-child {
                border-bottom: none;
            }

        .navbar .navbar-nav a.nav-link {
            padding: 10px 0px;
            color: #fff !important;
        }

            .navbar .navbar-nav a.nav-link:hover {
                color: #10e4e1 !important;
            }

        .navbar-nav {
            background-color: #012B44;
            padding: 0px;
            margin-right: 28%;
            border-bottom-right-radius: 20px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        .navbar .navbar-nav .nav-link:hover,
        .navbar .navbar-nav .active > .nav-link,
        .navbar .navbar-nav .nav-link.active,
        .navbar .navbar-nav .nav-link.show,
        .navbar .navbar-nav .show > .nav-link {
            color: #10e4e1 !important;
            border-bottom: none !important;
        }
*/
/*.ml-auto, .mx-auto {
        background-color: #012b44 !important;
    }*/
/*}*/
/*carousel*/

.carousel .carousel-indicators li {
    border: 0;
    background: #10e5e6;
    text-indent: -9999px;
    overflow: hidden;
    width: 8px;
    height: 8px;
    font-size: 0;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.carousel-indicators li {
    opacity: 0.8;
}

.carousel .carousel-indicators li.active {
    width: 60px;
    background: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url('../image/1x/Asset 7.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../image/1x/Asset 6.png') !important;
}

/* custom container */
.features .img-holder img {
    cursor: pointer;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999999;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

    .trailer.active {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .trailer video {
        position: relative;
        max-width: 900px;
        outline: none;
    }

.closebtn {
    position: absolute;
    top: 14%;
    right: 14%;
    cursor: pointer;
}

@media (max-width: 991px) {
    .trailer video {
        max-width: 90%;
    }
}

.container-ex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rtl-row > div[class^="col-"] {
    float: right;
}

.row.custom-padding {
    margin-left: -35px;
    margin-right: -35px;
}

    .row.custom-padding > div[class^="col-"] {
        padding-left: 35px;
        padding-right: 35px;
    }

@media (max-width: 1200px) {
    .row.custom-padding {
        margin-left: -15px;
        margin-right: -15px;
    }

        .row.custom-padding > div[class^="col-"] {
            padding-left: 15px;
            padding-right: 15px;
        }
}

@media (min-width: 480px) {
    .container-ex {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .playbtn {
        top: 50%;
    }

    .container-ex {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-ex {
        max-width: 960px;
    }

    .row.same-height {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

        .row.same-height.rtl-row {
            flex-direction: row-reverse;
        }
}

@media (min-width: 1200px) {
    .container-ex {
        max-width: 1330px;
    }
}

/* ----------------------------------
    4 - Features Section Styles
-----------------------------------*/
.features {
    background-image: linear-gradient( 50deg, hsl(202deg 97% 14%) 0%, hsl(199deg 100% 17%) 0%, hsl(197deg 100% 20%) 1%, hsl(194deg 100% 24%) 6%, hsl(192deg 100% 27%) 14%, hsl(190deg 100% 30%) 33%, hsl(188deg 100% 33%) 62%, hsl(185deg 100% 36%) 82%, hsl(183deg 100% 38%) 93%, hsl(180deg 88% 43%) 100% );
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    border-radius: 45px;
}

    .features .def-aligned {
        text-align: right;
    }

    .features .feature-info {
        display: inline-block;
        padding: 60px 0;
        width: 100%;
        max-width: 470px;
        text-align: left;
    }

        .features .feature-info .feature-title {
            font-size: 33px;
            font-weight: 700;
            color: aqua;
            margin-bottom: 20px;
        }

        .features .feature-info .feature-text {
            font-size: 18px;
            font-weight: 300;
            color: white;
            margin-bottom: 25px;
            width: 100%;
        }

    .features .img-holder {
        text-align: center;
        padding: 140px 0;
    }

        .features .img-holder img {
            max-width: 346px;
            border-radius: 10px;
        }

/*------------------------------------------------------------------
    19 - Responsive Styles
-------------------------------------------------------------------*/
@media (max-width: 1200px) {


    .features .feature-info .feature-title {
        font-size: 30px;
        margin-bottom: 13px;
    }
}

@media (max-width: 992px) {
    .same-height.rtl-row div[class^="col-"] {
        float: inherit;
    }



    .features .feature-info {
        padding: 50px 0;
    }

        .features .feature-info .feature-title {
            font-size: 27px;
            margin-bottom: 8px;
        }

    .features .img-holder {
        padding: 68px 0;
    }

    .features .def-aligned {
        text-align: left;
    }
}

@media (max-width: 768px) {

    .features .img-holder {
        padding: 40px 0;
    }

        .features .img-holder img {
            max-width: 300px;
            padding: 0 30px 0 0;
        }

    .features .feature-info {
        max-width: 100%;
    }

    .closebtn {
        position: absolute;
        top: 27%;
        right: -4%;
    }

    .features .feature-info .feature-text {
        color: #004D6C;
    }
}


@media (max-width: 480px) {

    .features {
        padding-bottom: 40px;
        margin-top: -127px;
        background: none;
    }

        .features .img-holder {
            padding: 40px 0 0 40px;
        }

        .features .feature-info {
            padding: 10px 0 60px;
        }

            .features .feature-info .feature-title {
                font-size: 25px;
            }

        .features > .container > .row:last-child .feature-info {
            padding-bottom: 20px;
        }

    .col-sm-5 {
        padding-right: 0;
    }
}

/*footer*/
section h6 {
    font-size: 20px;
    font-weight: 500;
    color: aqua !important;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

section p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 100%;
}

.col-md-4 .home {
    color: rgb(1,43,68);
}



.btn-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background: #012b44;
    border: none;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

    .btn-up:hover {
        background-color: #013954;
        transform: scale(1.1);
        bottom: 43px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

.footer-col .social-links a svg:not(:root).svg-inline--fa {
    color: #004D6C;
    width:27px;
    height:27px;

}
    
    svg:not(:root).svg-inline--fa {
        color: white;
    }
/*------------------------------------------------------------------
	6 - Latest News Section Styles
-------------------------------------------------------------------*/
.latest-news {
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eaf2fe;
    border-radius: 20px;
}

    .latest-news .row-title {
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        color: #4d5666;
        margin-bottom: 30px;
    }

    .latest-news .main-btn-holder {
        text-align: right;
        margin-bottom: 30px;
    }

    .latest-news .post-box {
        position: relative;
        border-radius: 15px;
        padding: 115px 35px 40px 35px;
        margin: 20px 0;
        z-index: 1;
    }

        .latest-news .post-box.blue-bg {
            background-color: #4789fc;
        }

            .latest-news .post-box.blue-bg .post-img {
                background-image: url('../image/Robotics.jpg');
            }

        .latest-news .post-box.grey-bg {
            background-color: #333c4e;
        }

            .latest-news .post-box.grey-bg .post-img {
                background-image: url('../image/STEM.jpg');
            }

        .latest-news .post-box.yellow-bg {
            background-color: #ffc600;
        }

            .latest-news .post-box.yellow-bg .post-img {
                background-image: url('../image/InteractiveWhiteboard.jpg');
            }

        .latest-news .post-box .post-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            z-index: -1;
            background-size: 100%;
            background-position: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .latest-news .post-box .badge {
            margin-bottom: 8px;
        }

        .latest-news .post-box .post-title {
            font-size: 19px;
            font-weight: bold;
            line-height: 23px;
            color: #004D6C;
            max-width: 70%;
            margin-bottom: 15px;
        }

        .latest-news .post-box .post-link a {
            font-size: 10.5px;
            font-weight: 600;
            padding: 10px 14px;
            color: #eceff1;
            background-color: #17a2b8;
            border-radius: 5px;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .latest-news .post-box .post-link a:hover, .latest-news .post-box .post-link a.focus {
                color: #eceff1;
            }

        .latest-news .post-box:hover .post-img {
            background-size: 105%;
            -webkit-filter: opacity(80%);
            -moz-filter: opacity(80%);
            -ms-filter: opacity(80%);
            filter: opacity(80%);
        }
