/*

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}


/* navbar Style */


.navbar {
    height: 25%;
    z-index: 999;
    padding: 0;
    background: #00162B;
    position: fixed !important;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
}

#navbar__logo img {
    width: 145%;
    height: 180%;
    margin-top: -25%;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 7%;
    right: 6%;
}


.navbar__links {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 30px;
    height: 100%;
    font-size: 150%;
    font-weight: bold;
}

    .navbar__links:hover {
        color: #10B6CB !important;
        opacity: 0.7;
        transform: scale(0.9);
    }

    .navbar__links.active {
        color: #10B6CB !important;
    }

.learnimg {
    width: 20%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
}



@media (max-width: 420px) {
    .navbar__menu.active {
        background: #00162b !important;
        top: 109% !important;
        right: -9%;
        opacity: 1;
        position: relative;
        transition: all 0.5s ease;
        z-index: 99;
        height: 26.5rem;
        border-bottom-right-radius: 1rem;
    }
}







@media screen and (max-width: 1190px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    #navbar__logo img {
        width: 97%;
        height: 155%;
        margin-top: -10%;
        padding-right:0;
    }

    .navbar {
        height: 13%;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        font-size: 125%;
        font-weight: bold;
        
    }

    .learnimg {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
    }

        .navbar__menu.active {
            background: #00162b;
            top: 109%;
            opacity: 1;
            position: relative;
            transition: all 0.5s ease;
            z-index: 99;
            height: 26.5rem;
            border-bottom-right-radius: 1rem;
            width: 50%;
        }

    #navbar__logo {
        padding-left: 25px;
        margin-right: 0%;
    }

        

    

        .navbar__toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: #0ff;
        }

    .navbar__item {
        width: 100%;
        border-bottom: 0.001rem solid #10b6cb75;
        padding: 1%;
        height: 100%;
    }

        .navbar__item:last-child {
            border: none;
        }

    .navbar__link {
        text-align: center;
        padding: 2%;
        width: 100%;
        display: table;
        font-size:100%;
    }

    #mobile-menu {
        margin: 17px;
        padding: 2px 8px;
        border: 1px solid white;
        border-radius: 5px;
        height: 36px;
        outline: none;
    }

    .navbar__btn {
        padding-bottom: 2%;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*footer*/


.footer {
    background-color: #00162B;
}

.cont-fot {
    /*width: 25%;*/
    padding: 0 15px;
    text-align: right;
}

    .cont-fot h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }



    .cont-fot ul li {
        margin-bottom: 10px;
    }

    .cont-fot .about ul li a {
        margin-bottom: 11%;
        width: 110%;
    }

    .cont-fot ul li a {
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

.footimg img {
    margin-right: -59%;
}

.cont-fot ul li a:hover {
    color: #ffffff;
    padding-right: 9px !important;
}

.cont-fot {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

    .cont-fot .social-links {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        right: 0;
        bottom: 29%;
        flex-direction: column;
        transform: skewX(370deg)
    }


        .cont-fot .social-links a {
            display: inline-block;
            width: 40px;
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            transform: skewX(354deg)
        }

            .cont-fot .social-links a:hover {
                color: #0fa7bb;
                background-color: #ffffff;
            }

.about {
    margin-top: 35%;
    margin-right: -66%;
    padding: 0;
    max-width:100% !important;
    flex: 0 0 100%;
}

    .about span {
        padding-right: 3%;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

/*amal*/
.footer-location {
    color: white !important;
    margin-top: 4%;
    width: 50%;
    text-align: right;
    margin-right: 15%;
}

.location_h4 {
    border-bottom: 2px solid white;
    padding-bottom: 5%;
}

.location_ul {
    margin-right: 9%;
    margin-top: 2%;
}

    .location_ul li a .email {
        letter-spacing: 0.1rem !important;
    }

    .location_ul span {
        text-align: right;
        margin: 3%;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    .location_ul li a.map {
        padding-right: 2%;
    }

.location_num li {
    padding-right: 8%;
}

    .location_num li span {
        font-weight: 500;
        letter-spacing: 0.03rem !important;
        opacity: 0.6;
    }

.location_num > li:first-child {
    padding-top: 4% !important;
}

.lang-footer {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 86%;
    max-width: 30% !important
}


    .lang-footer .lang-img-1 {
        width: 66%;
        position: relative;
        left: 40%;
    }

    .lang-footer .lang-img-2 {
        width: 20%;
        position: absolute;
        top: 15%;
        left: 8%;
    }


    .lang-footer h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        margin-top: 28%;
    }

.copy_h4 {
    border-top: 2px solid white;
    padding-top: 5%;
    text-align: center;
}

section h6 {
    font-size: 20px;
    font-weight: 500;
    color: aqua !important;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

section p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 100%;
}

.col-md-4 .home {
    color: rgb(1,43,68);
}



.btn-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background: #012b44;
    border: none;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

    .btn-up:hover {
        background-color: #013954;
        transform: scale(1.1);
        bottom: 43px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

.cont-fot .social-links a svg:not(:root).svg-inline--fa {
    color: #004D6C;
    width: 27px;
    height: 27px;
}

svg:not(:root).svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1200px) {
   
    .about {
        margin-right: -68%;
       
    }

    .footer-location {
        margin-right: 4%;
    }

    .footimg{
        margin-right: -11%;
    }

    .cont-fot .social-links {
        right: -10%;
    }
}



/*responsive*/
@media(max-width: 767px) {
    .cont-fot {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .cont-fot {
        width: 100%;
    }
    .projects .container {
        display: inline-block;
        overflow-x: hidden;
    }
}

/*carousel*/

.carousel .carousel-indicators li {
    border: 0;
    background: #10e5e6;
    text-indent: -9999px;
    overflow: hidden;
    width: 8px;
    height: 8px;
    font-size: 0;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.carousel-indicators li {
    opacity: 0.8;
}

.carousel .carousel-indicators li.active {
    width: 60px;
    background: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url('../image/1x/Asset 7.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../image/1x/Asset 6.png') !important;
}



/*elayyan*/
.hr {
    padding: 0;
    margin: 0;
    width: 220px;
    height: 2px;
    background: #3DC4D5;
    display: inline-block;
}
.projects {
    background-image: url(../image/bg03.png);
    background-position:center;
    background-size: cover;

}

.projects .container {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.projects #container {
    position: relative;
    margin: 0 auto;
}

.projects .centered {
    text-align: center;
}

.projects a, .projects a * {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}

    .projects a:hover {
        text-decoration: none;
    }

.projects #content {
    
    width: 100%;
    position: relative;
    z-index: 55;
    height: auto;
    font-family: 'Cairo', sans-serif;
}

.projects {
    font-family: 'Cairo', sans-serif;
    margin: 50px 0;
}

    .projects .header {
        color: #3DC4D5;
        margin: 0 0;
    }

    .projects section {
        padding: 0 0;
        margin: 0 0;
    }

    .projects .element {
        margin-bottom: 30px;
    }

        .projects .element img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0 0 8px 2px #296A84;
        }

body.centered-tiles .element {
    text-align: center;
}

.projects .white-text {
    -webkit-text-shadow: 0px 0 30px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0 30px rgba(0, 0, 0, 0.2);
    position: relative;
}

.extra-padding-top {
    padding-top: 10px;
}

.extra-padding-right {
    padding-right: 45px;
}

.extra-padding-bottom {
    padding-bottom: 45px
}

.small-padding-bottom {
    padding-bottom: 25px
}

.projects .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
}

.projects .transition-link .overlay {
    -webkit-transition: all 600ms ease-in-out 0s;
    transition: all 600ms ease-in-out 0s;
}

.projects a:hover .overlay, .intro .overlay, .image-with-overlay .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.projects .title-holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
}

    .projects .title-holder h3::before {
        background: #fff;
        bottom: 0;
        content: "";
        display: block;
        left: auto;
        margin: auto;
        position: absolute;
        right: 100%;
        top: 0;
        width: 100%;
        -webkit-transition: right 600ms ease-in-out 0s;
        transition: right 600ms ease-in-out 0s;
    }

    .projects .title-holder h3 {
        color: transparent;
        display: inline-block;
        left: 25px;
        max-width: calc(100% - 80px);
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 54px;
        white-space: nowrap;
        z-index: 2;
        -webkit-transition: color 150ms ease-in-out 200ms;
        transition: color 150ms ease-in-out 200ms;
        text-align: center;
        padding: 0 10px;
    }

    .projects .title-holder.right h3 {
        left: auto;
        right: 25px;
    }

    .projects .title-holder.bottom h3 {
        bottom: 22px;
        top: auto;
    }

    .projects .title-holder p::before {
        background: #fff;
        bottom: 0;
        content: "";
        display: block;
        right: auto;
        margin: auto;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        -webkit-transition: left 600ms ease-in-out 0s;
        transition: left 600ms ease-in-out 0s;
    }

    .projects .title-holder p {
        color: transparent;
        display: inline-block;
        left: 25px;
        max-width: calc(100% - 80px);
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 30px;
        white-space: nowrap;
        z-index: 2;
        -webkit-transition: color 150ms ease-in-out 200ms;
        transition: color 150ms ease-in-out 200ms;
        text-align: center;
        padding: 0 10px;
        opacity: 1 !important;
    }

    .projects .title-holder.right p {
        left: auto;
        right: 25px;
    }

    .projects .title-holder.bottom p {
        top: auto;
        bottom: 54px;
    }

.projects a.transition-link {
    display: block;
    z-index: 1;
    position: relative;
    padding: 4px;
    -webkit-transition: color 300ms ease-in-out 0s;
    transition: color 300ms ease-in-out 0s;
}

    .projects a.transition-link:hover .title-holder h3 {
        color: white;
    }

        .projects a.transition-link:hover .title-holder h3::before {
            right: -100%;
        }

    .projects a.transition-link:hover .title-holder p {
        color: white;
    }

        .projects a.transition-link:hover .title-holder p::before {
            left: -100%;
        }

.projects .element a.transition-link:hover .element::before {
    transform: scaleX(2);
}

.projects a.transition-link img {
    height: auto;
    width: 100%;
    max-width: none;
    -webkit-backface-visibility: hidden;
}

.projects .view-all {
    border: .5px solid #296A84;
    background-color: transparent;
    padding: 5px 15px;
    color: #3DC4D5;
    box-shadow: 0 0 5px .2px;
    border-radius: 3px;
    font-size: 18px;
}

    .projects .view-all:hover {
        background-color: #3DC4D5;
        color: #fff;
    }
