<!DOCTYPE html>
<html dir="rtl" lang="ar-sa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tajseer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/image/Asset 10.ico" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/templatemo-sixteen.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    @*fonts*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a class="navbar-brand" id="navbar__logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/Asset 6.png" /> </a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__links a" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links b" asp-area="" asp-controller="Home" asp-action="Privacy">مشاريعنا</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links c" asp-area="" asp-controller="Home" asp-action="Index">خدماتنا</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links d" asp-area="" asp-controller="Home" asp-action="Index">شركاؤنا</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links d" asp-area="" asp-controller="Home" asp-action="Index">التدريب والاستشارات</a>
                </li>
            </ul>
            <img class="learnimg" src="~/image/Asset 3.png" />
        </div>
    </nav>
    @*<nav class="navbar navbar-expand-md navbar-toggleable-md box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/Asset 6.png" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between " id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link a" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link b" asp-area="" asp-controller="Home" asp-action="Privacy">مشاريعنا</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link c dropbtn" asp-area="" asp-controller="HomeController" asp-action="Index">خدماتنا</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link d dropbtn" asp-area="" asp-controller="HomeController" asp-action="Index">شركاؤنا</a>
                        </li>
                    </ul>
                </div>
                <img class="learnimg" src="~/image/Asset 3.png" />
            </div>
        </nav>*@
    <br />
    <br />
    <br />
    <br />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/image/banner/1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4>تطبيقات إلكترونية متكاملة</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/image/banner/2.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4>تطوير المحتوى التعليمي الرقمي الخاص بمؤسّستك</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/image/banner/3.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4>جسرك للعبور إلى العالم الرقمي</h4>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

   
        
            @RenderBody()
        
    


    <!-- Footer -->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 cont-fot">
                    <div class="footimg">
                        <img src="~/image/footer.png" />
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="about">
                        <ul>
                            <li>
                                <a href="#">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.2 48.35" style="width:39px; height:19px;">

                                        <style>
                                            .cls-1 {
                                                fill: #fff;
                                            }
                                        </style>

                                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M1.55,27.94,20.41,46.81a5,5,0,0,0,6.82.36,4.81,4.81,0,0,0,.19-7l-8.55-8.55A1.53,1.53,0,0,1,20,29H50.78a5,5,0,0,0,5.08-4.56,4.81,4.81,0,0,0-4.81-5.07H20a1.53,1.53,0,0,1-1.08-2.62l8.35-8.36a5,5,0,0,0,.37-6.81,4.82,4.82,0,0,0-7-.19l-19,19.06A5.27,5.27,0,0,0,1.55,27.94Z" /><path class="cls-1" d="M68.9,29h5.55a4.82,4.82,0,1,0,0-9.63H68.9a4.82,4.82,0,1,0,0,9.63Z" /><path class="cls-1" d="M90.87,29h.52a4.82,4.82,0,0,0,0-9.63h-.52a4.82,4.82,0,1,0,0,9.63Z" /></g></g>
                                    </svg>
                                    <span> عن تجسير </span>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.2 48.35" style="width:39px; height:19px;">

                                        <style>
                                            .cls-1 {
                                                fill: #fff;
                                            }
                                        </style>

                                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M1.55,27.94,20.41,46.81a5,5,0,0,0,6.82.36,4.81,4.81,0,0,0,.19-7l-8.55-8.55A1.53,1.53,0,0,1,20,29H50.78a5,5,0,0,0,5.08-4.56,4.81,4.81,0,0,0-4.81-5.07H20a1.53,1.53,0,0,1-1.08-2.62l8.35-8.36a5,5,0,0,0,.37-6.81,4.82,4.82,0,0,0-7-.19l-19,19.06A5.27,5.27,0,0,0,1.55,27.94Z" /><path class="cls-1" d="M68.9,29h5.55a4.82,4.82,0,1,0,0-9.63H68.9a4.82,4.82,0,1,0,0,9.63Z" /><path class="cls-1" d="M90.87,29h.52a4.82,4.82,0,0,0,0-9.63h-.52a4.82,4.82,0,1,0,0,9.63Z" /></g></g>
                                    </svg>
                                    <span> تواصل معنا </span>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.2 48.35" style="width:39px; height:19px;">

                                        <style>
                                            .cls-1 {
                                                fill: #fff;
                                            }
                                        </style>

                                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M1.55,27.94,20.41,46.81a5,5,0,0,0,6.82.36,4.81,4.81,0,0,0,.19-7l-8.55-8.55A1.53,1.53,0,0,1,20,29H50.78a5,5,0,0,0,5.08-4.56,4.81,4.81,0,0,0-4.81-5.07H20a1.53,1.53,0,0,1-1.08-2.62l8.35-8.36a5,5,0,0,0,.37-6.81,4.82,4.82,0,0,0-7-.19l-19,19.06A5.27,5.27,0,0,0,1.55,27.94Z" /><path class="cls-1" d="M68.9,29h5.55a4.82,4.82,0,1,0,0-9.63H68.9a4.82,4.82,0,1,0,0,9.63Z" /><path class="cls-1" d="M90.87,29h.52a4.82,4.82,0,0,0,0-9.63h-.52a4.82,4.82,0,1,0,0,9.63Z" /></g></g>
                                    </svg>
                                    <span> سياسة الخصوصية </span>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-4 footer-location">
                    <h4 class="location_h4">موقعنا</h4>
                    <ul class="location_ul">
                        <li><a href="#"><i class="fa fa-city"></i><span>الرياض </span></a> </li>
                        <li><a class="map" href="#"><i class="fa fa-map-pin"></i><span>شارع العليا</span></a></li>
                        <li><a href="#"><i class="fa fa-envelope-open-text"></i><span class="email">info@tajseerksa.com</span> </a></li>
                        <li>
                            <a href="#"><i class="fa fa-address-book"></i> <span>جهات الاتصال :</span></a>
                            <ul class="location_num">
                                <li>
                                    <i class="fa fa-mobile-alt"></i> <span> 00966114621717</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i><span> 00966545992326</span>
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i> <span>0096611247121</span>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="lang-footer col-3">
                    <div class="lang-img">
                        <img class="lang-img-1" src="~/image/Asset 6.png" />
                        <a href="#"><img class="lang-img-2" src="~/image/lang.png" /></a>
                    </div>
                    <div>
                        <h4 class="copy_h4"><i class="fas fa-copyright"></i>  2022, تجسير, جميع الحقوق محفوظة </h4>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div>
        <button class="btn-up"><i class="fa fa-arrow-up"></i></button>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    <script src="~/lib/jquery/dist/jquery.nicescroll.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
