@{
    ViewData["Title"] = "الرئيسية";
}

<br />
<br />
<br />

<div class="projects extra-padding-bottom">

    <section>
        <div class="container clearfix">
            <div class="col-lg-12 centered small-padding-bottom">
                <h2 class="header">Recent Work</h2>
                <span class="hr"></span>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="element clearfix col-sm-6 ">
                    <a href="" data-title="Image Title" class="transition-link">
                        <img src="~/image/1600.png" alt="" />
                        <div class="title-holder">
                            <h3>Just do it!</h3>
                            <p class="large">Nike</p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>

                <div class="element clearfix col-sm-6 home travel">
                    <a href="" data-title="Image Title" class="transition-link">
                        <img src="~/image/1600.png" alt="" />
                        <div class="title-holder right">
                            <h3>Wireless AirPods</h3>
                            <p class="large">Apple</p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="element clearfix col-sm-6 home travel">
                    <a href="" data-title="Image Title" class="transition-link">
                        <img src="~/image/1600.png" alt="" />
                        <div class="title-holder">
                            <h3>Magazine Cover</h3>
                            <p class="large">Inventory</p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>

                <div class="element clearfix col-sm-6 home travel">
                    <a href="" data-title="Image Title" class="transition-link">
                        <img src="~/image/1600.png" alt="" />
                        <div class="title-holder right">
                            <h3>Seller Admin</h3>
                            <p class="large">Shopify</p>
                        </div>
                        <div class="overlay"></div>
                    </a>
                </div>

            </div>
            <div class="container">
                <div class="col-lg-12 white-text centered">
                    <p><a asp-controller="Home" asp-action="Privacy" title="" class="view-all">View All</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.querySelector(".a").classList.add("active");
    document.querySelectorAll(".b").classList.remove("active");
    document.querySelectorAll(".c").classList.remove("active");
    document.querySelectorAll(".d").classList.remove("active");
</script>