@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<p>Use this page to detail your site's privacy policy.</p>
<script>
    document.querySelector(".b").classList.add("active");
    document.querySelectorAll(".a").classList.remove("active");
    document.querySelectorAll(".c").classList.remove("active");
    document.querySelectorAll(".d").classList.remove("active");
</script>